
<div class="form-group has-feedback">
	
	<div class="input-group">
		<span class="input-group-addon ion-name-addon">{{ionName}}</span>
		<input ng-model="ion" type="text" class="form-control" placeholder="enter {{ionName}}" />
		<span class="glyphicon glyphicon-{{glyphicon}} form-control-feedback"></span>
		<span class="input-group-addon">ppm</span>
	</div>


	<!--
	<label class="col-sm-2 control-label">{{ionName}}</label>
	<div class="col-sm-10">
		<span class="input-group-addon">@</span>
		<input ng-model="ion" type="text" class="form-control" placeholder="ppm" />

		<span class="glyphicon glyphicon-{{glyphicon}} form-control-feedback"></span>

	</div>
	<span class="input-group-addon">ppm</span>
-->
</div>

